@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

// ugly selector needed to overwrite default styles
body #choo-root.minidocs {
  @import '~dat-design/scss/variables/colors.scss';
  @import '~dat-design/scss/variables/transitions.scss';
  @import '~dat-design/scss/base/links.scss';

  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
  line-height: 1.5;
  color: $color-neutral;

  // transitions on interactive elements
  a,
  button,
  input,
  select,
  textarea {
    transition-property: background-color, color;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
  }

  .minidocs-header {
    margin: 0;
  }

  .minidocs-logo {
    max-height: 100px;
    width: inherit;
    display: block;
  }

  .minidocs-content {
    padding-bottom: 50px;
    max-width: 48em; // sets a max-width to avoid endless lines on wide screens
  }

  .minidocs-sidebar {
    background-color: $color-neutral--10;
  }

  .minidocs-menu {
    // overwrite the "#" default style
    .h1::before {
      display: none;
    }
    .h1, .h2, .h3 {
      font-weight: 400;
    }
    .h1, .h2 {
      margin-bottom: 8px;
    }
    .h2 {
      font-size: 1.4em;
    }
    .content-link {
      transition-property: background-color, color, border-color, padding-left;
      color: $color-neutral--80;
      padding-left: 0;
      &:hover, &:focus {
        color: $color-neutral;
        border-left-color: transparent;
        padding-left: .65rem;
        background-color: rgba(0,0,0,.05);
      }
      &.active {
        padding-left: .65rem;
        border-left-color: $color-green--hover;
        background-color: #FFF;
      }
    }
  }
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
$color-white: #FFFFFF;
$color-black: #293648;

$color-neutral: #293648;
$color-neutral-90: #394B5B;
$color-neutral-80: #505F6D;
$color-neutral-70: #65737F;
$color-neutral-60: #7C8792;
$color-neutral-50: #919BA4;
$color-neutral-40: #A7AFB6;
$color-neutral-30: #C3C9CD;
$color-neutral-20: #D3D7DB;
$color-neutral-14: #E0E3E5;
$color-neutral-10: #E9EBEC;
$color-neutral-04: #F6F7F8;

$color-green: #2ACA4B;
$color-green-hover: #199E33;
$color-green-darker: #006607;
$color-green-disabled: #94E4A5;

$color-blue: #007FFF;
$color-blue-hover: #0066CC;
$color-blue-darker: #003E83;
$color-blue-disabled: #7FBFFF;

$color-mint: #159F84;
$color-mint-hover: #0B856D;
$color-mint-darker: #045943;
$color-mint-disabled: #8ACFC1;

$color-yellow: #F2CD02;
$color-yellow-hover: #C4A500;
$color-yellow-darker: #9F7D07;
$color-yellow-disabled: #FBF0B3;

$color-red: #D8524E;
$color-red-hover: #B33C38;
$color-red-darker: #A52724;
$color-red-disabled: #EBA8A6;

$color-pink: #F9A5E4;
// ugly selector needed to overwrite default styles
#choo-root.minidocs {

  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
  line-height: 1.5;
  color: $color-neutral;

  // .minidocs-header {
  //   margin: 0;
  // }

  // .minidocs-logo {
  //   max-height: 100px;
  //   width: inherit;
  //   display: block;
  // }

  .minidocs-content {
    // padding-bottom: 50px;
    // max-width: 48em; // sets a max-width to avoid endless lines on wide screens
  }

  .minidocs-sidebar {
    background-color: $color-neutral-10;
  }

  .minidocs-menu {
    // overwrite the "#" default style
    .h1::before {
      display: none;
    }
    // .h1, .h2, .h3 {
    //   font-weight: 400;
    // }
    // .h1, .h2 {
    //   margin-bottom: 8px;
    // }
    // .h2 {
    //   font-size: 1.4em;
    // }
    .content-link {
      transition-property: background-color, color, border-color, padding-left;
      color: $color-neutral-80;
      &:hover, &:focus {
        color: $color-neutral;
        border-left-color: transparent;
        padding-left: .65rem;
        background-color: rgba(0,0,0,.05);
      }
      &.active {
        padding-left: .65rem;
        border-left-color: $color-green-hover;
        background-color: #FFF;
      }
    }
  }

  .minidocs-header {
    background-color: $color-neutral;
  }

  /* header */
  .minidocs-header-link {
    font-size: .875rem;
    letter-spacing: 0.05em;
    color: $color-neutral-30;
    &:hover, &:focus {
      color: $color-white;
      text-decoration: none;
    }
  }

  .minidocs-header-logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: $color-neutral-10;
    letter-spacing: .025em;
    img {
      transition: transform .5s ease-in-out;
    }
    &:hover, &:focus {
      // color: $color-green;
      img {
        transform: rotate(360deg);
      }
    }
  }
}