@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
body #choo-root.minidocs {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
  line-height: 1.5;
  color: #293648; }
  body #choo-root.minidocs a {
    color: #35B44F; }
  body #choo-root.minidocs a:hover,
  body #choo-root.minidocs a:focus {
    color: #24943A; }
  body #choo-root.minidocs .link--info {
    color: #2980B9; }
    body #choo-root.minidocs .link--info:hover, body #choo-root.minidocs .link--info:focus {
      color: #1B679A; }
  body #choo-root.minidocs .link--warning {
    color: #F0C30E; }
    body #choo-root.minidocs .link--warning:hover, body #choo-root.minidocs .link--warning:focus {
      color: #C9A001; }
  body #choo-root.minidocs .link--danger {
    color: #D8524E; }
    body #choo-root.minidocs .link--danger:hover, body #choo-root.minidocs .link--danger:focus {
      color: #B33C38; }
  body #choo-root.minidocs a[disabled],
  body #choo-root.minidocs .link--disabled {
    color: #A7AFB6; }
    body #choo-root.minidocs a[disabled]:hover, body #choo-root.minidocs a[disabled]:focus,
    body #choo-root.minidocs .link--disabled:hover,
    body #choo-root.minidocs .link--disabled:focus {
      color: #A7AFB6; }
  body #choo-root.minidocs a,
  body #choo-root.minidocs button,
  body #choo-root.minidocs input,
  body #choo-root.minidocs select,
  body #choo-root.minidocs textarea {
    transition-property: background-color, color;
    transition-duration: 0.05s;
    transition-timing-function: ease-out; }
  body #choo-root.minidocs .minidocs-header {
    margin: 0; }
  body #choo-root.minidocs .minidocs-logo {
    max-height: 100px;
    width: inherit;
    display: block; }
  body #choo-root.minidocs .minidocs-content {
    padding-bottom: 50px;
    max-width: 48em; }
  body #choo-root.minidocs .minidocs-sidebar {
    background-color: #E9EBEC; }
  body #choo-root.minidocs .minidocs-menu .h1::before {
    display: none; }
  body #choo-root.minidocs .minidocs-menu .h1, body #choo-root.minidocs .minidocs-menu .h2, body #choo-root.minidocs .minidocs-menu .h3 {
    font-weight: 400; }
  body #choo-root.minidocs .minidocs-menu .h1, body #choo-root.minidocs .minidocs-menu .h2 {
    margin-bottom: 8px; }
  body #choo-root.minidocs .minidocs-menu .h2 {
    font-size: 1.4em; }
  body #choo-root.minidocs .minidocs-menu .content-link {
    transition-property: background-color, color, border-color, padding-left;
    color: #505F6D;
    padding-left: 0; }
    body #choo-root.minidocs .minidocs-menu .content-link:hover, body #choo-root.minidocs .minidocs-menu .content-link:focus {
      color: #293648;
      border-left-color: transparent;
      padding-left: .65rem;
      background-color: rgba(0, 0, 0, 0.05); }
    body #choo-root.minidocs .minidocs-menu .content-link.active {
      padding-left: .65rem;
      border-left-color: #24943A;
      background-color: #FFF; }

#choo-root.minidocs {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
  line-height: 1.5;
  color: #293648;
  /* header */ }
  #choo-root.minidocs .minidocs-sidebar {
    background-color: #E9EBEC; }
  #choo-root.minidocs .minidocs-menu .h1::before {
    display: none; }
  #choo-root.minidocs .minidocs-menu .content-link {
    transition-property: background-color, color, border-color, padding-left;
    color: #505F6D; }
    #choo-root.minidocs .minidocs-menu .content-link:hover, #choo-root.minidocs .minidocs-menu .content-link:focus {
      color: #293648;
      border-left-color: transparent;
      padding-left: .65rem;
      background-color: rgba(0, 0, 0, 0.05); }
    #choo-root.minidocs .minidocs-menu .content-link.active {
      padding-left: .65rem;
      border-left-color: #199E33;
      background-color: #FFF; }
  #choo-root.minidocs .minidocs-header {
    background-color: #293648; }
  #choo-root.minidocs .minidocs-header-link {
    font-size: .875rem;
    letter-spacing: 0.05em;
    color: #C3C9CD; }
    #choo-root.minidocs .minidocs-header-link:hover, #choo-root.minidocs .minidocs-header-link:focus {
      color: #FFFFFF;
      text-decoration: none; }
  #choo-root.minidocs .minidocs-header-logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: #E9EBEC;
    letter-spacing: .025em; }
    #choo-root.minidocs .minidocs-header-logo img {
      transition: transform .5s ease-in-out; }
    #choo-root.minidocs .minidocs-header-logo:hover img, #choo-root.minidocs .minidocs-header-logo:focus img {
      transform: rotate(360deg); }
